{% extends "base.html" %}

{% block bhead %}
	<!-- Vendors Style-->
	<meta charset="utf-8" />
	<link rel="stylesheet" href="../static/eduTmpStatic/css/vendors_css.css">

	<!-- Style-->
	<link rel="stylesheet" href="../static/eduTmpStatic/css/style.css">
	<link rel="stylesheet" href="../static/eduTmpStatic/css/skin_color.css">
{% endblock %}
	
{% block bContentMain %}
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="box">
					<!-- /.box-header -->
					<div class="box-body">
						<div class="p-3 mb-2 bg-primary text-white">基因组学数据，收录了肾脏病相关的基因组学信息。包括pubmed编号、缩写，以及和此蛋白相互作用的基因信息，以及对应的研究信息。供研究人员查询使用</div>
						<div class="table-responsive">
							<table id="example5" class="table table-bordered table-striped small" style="width:100%">
								<thead>
									<tr> 
										<th>PUBMEDID</th>
										<th>REGION</th>
										<th>CHR_ID</th>
										<th>CHR_POS</th>
										<th>MAPPED_GENE</th>
										<th>SNP_GENE_IDS</th>
										<th>SNPS</th>
										<th>CONTEXT</th>
										<th>MAPPED_TRAIT</th>
									</tr>
								</thead>
								<tbody>
									{% for data in datas %}
									<tr>
										<td><a href="https://{{ data.LINK }}">{{ data.PUBMEDID }}</a></td>
										<td>{{ data.REGION }}</td>
										<td><a href="https://www.ncbi.nlm.nih.gov/gene/?term={{ data.CHR_ID }}">{{ data.CHR_ID }}</a></td>
										<td>{{ data.CHR_POS }}</td>
										<td>{{ data.MAPPED_GENE }}</td>
										<td>{{ data.SNP_GENE_IDS }}</td>
										<td>{{ data.SNPS }}</td>
										<td>{{ data.CONTEXT }}</td>
										<td>{{ data.MAPPED_TRAIT }}</td>
									</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th>PUBMEDID</th>
										<th>REGION</th>
										<th>CHR_ID</th>
										<th>CHR_POS</th>
										<th>MAPPED_GENE</th>
										<th>SNP_GENE_IDS</th>
										<th>SNPS</th>
										<th>CONTEXT</th>
										<th>MAPPED_TRAIT</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</section>
{% endblock %}

{% block bscrpt %}
	<!-- Vendor JS -->
	<script src="../static/eduTmpStatic/js/vendors.min.js"></script>
	<script src="../static/eduTmpStatic/js/chat-popup.js"></script>
    <script src="../static/eduTmpStatic/js/feather.min.js"></script>	
	<script src="../static/eduTmpStatic/js/datatables.min.js"></script>
	
	<!-- EduAdmin App -->
	<script src="../static/eduTmpStatic/js/template.js"></script>
	<script src="../static/eduTmpStatic/js/data-table.js"></script>
{% endblock %}