{% extends "base.html" %}

{% block bContentMain %}
<section data-image-src="../static/img/home.png" class="wrapper image-wrapper bg-image bg-cover bg-height">
</section>
<section class="wrapper bg-light wrapper-border">
	<div class="container py-14 py-md-16">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<h1 class="display-4 mb-4">在线网页制作工具</h1>
				<div class="row gx-0 mb-12">
					<div class="col-md-9 text-justify">
						<p>您是否曾经因为繁琐的代码而浪费了无数宝贵的时间？您是否曾经因为设计不美观而影响了您网页的效果？现在，这些烦恼都将不复存在。</p>
						<p>HTMLPage.cn是一款在线制作HTML页面的工具网站，它为您提供了一种简单、快捷的方法，让您不再为繁琐的代码而烦恼。您可以通过简单的拖拽和点击操作，轻松地制作出专业美观的HTML页面。
						</p>
					</div><!--/column -->
					<div class="col-md-2 ms-auto">
						<ul class="list-unstyled">
							<li>
								<h5 class="mb-1">日期</h5>
								<p>17 May 2023</p>
							</li>
							<li>
								<h5 class="mb-1">项目名称</h5>
								<p>在线网页构建器</p>
							</li>
						</ul>
					</div><!--/column -->
				</div><!--/.row -->
			</div><!--/column -->
		</div><!--/.row -->
		<div class="row gy-6 mb-12">
			<div class="col-md-12">
				<figure class="hover-scale rounded cursor-dark"><a href="../static/img/pp24@2x.jpg"></a>
				</figure>
			</div><!-- /column -->
			<div class="htmlpage-row">
				<div class="htmlpage-cell" id="iyng56">
					<div id="i3jerw" class="c34207">全基因组</div><button type="button"
						class="c35824">Send</button>
				</div>
				<div class="htmlpage-cell" id="i6faxe">
					<div id="itwpwd" class="c34821">转录组数据库</div><button type="button"
						class="c35824">Send</button>
				</div>
				<div class="htmlpage-cell" id="ihdcth">
					<div id="ihnbm7" class="c34914">蛋白组数据库</div><button type="button"
						class="c35824">Send</button>
				</div>
			</div>
			<div class="col-md-6">
				<figure class="hover-scale rounded cursor-dark"><a href="../static/img/pp25@2x.jpg"></a>
				</figure>
			</div><!-- /column -->
			<div class="col-md-6">
				<figure class="hover-scale rounded cursor-dark"><a href="../static/img/pp26@2x.jpg"></a>
				</figure>
			</div><!-- /column -->
		</div><!-- /.row -->
		<div class="row mb-12">
			<div class="col-lg-10 mx-auto"></div><!--/column -->
		</div><!--/.row --><!-- /.row -->
	</div>
</section> <!-- /.wrapper -->
{% endblock %}
