{% extends "base.html" %}

{% block bContentMain %}
<section data-image-src="../static/img/home.png" class="wrapper image-wrapper bg-image bg-cover bg-height">
</section>
<section class="wrapper bg-light wrapper-border">
	<div class="container py-14 py-md-16">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<h1 class="display-4 mb-4">人类肾脏病多组学数据库</h1>
				<div class="row gx-0 mb-12">
					<div class="col-md-9 text-justify">
						<p>高可用的人类肾脏病多组学科研数据检索平台，为人类肾脏病多组学研究提供全面规范的数据资源。检索人类肾脏领域多组学（包含基因组、转录组、蛋白组）研究文献，分别针对单个组学完成数据整理、统计及常规分析，关联肾脏疾病信息形成规范全面的关系型专病数据库。
						</p>
					</div><!--/column -->
					<div class="col-md-2 ms-auto">
						<ul class="list-unstyled">
							<li>
								<h5 class="mb-1">截止纳入日期</h5>
								<p>30 May 2024</p>
							</li>
						</ul>
					</div><!--/column -->
				</div><!--/.row -->
			</div><!--/column -->
		</div><!--/.row -->
		<div class="row gy-6 mb-12">
			<div class="col-md-12">
				<figure class="hover-scale rounded cursor-dark"><a href="../static/img/pp24@2x.jpg"></a>
				</figure>
			</div><!-- /column -->
			<div class="htmlpage-row">
				<div class="htmlpage-cell" id="iyng56">
					<div id="i3jerw" class="c34207">
						<p>基因组数据库</p>
						<p>主体为人类肾脏相关变异位点，关联信息包括疾病性状、发表文献、统计学信息、位点注释基因信息等.</p>
					</div>
					<a href={{ url_for('genomics_home') }}><button type="button" class="c35824">基因组</button></a>
				</div>
				<div class="htmlpage-cell" id="i6faxe">
					<div id="itwpwd" class="c34821">
						<p>转录组数据库</p>
						<p>主体为基因及表达量，关联基因类型、疾病性状、发表文献等，配套表达量图表.</p>
					</div>
					<a href={{ url_for('transcriptome_home') }}><button type="button" class="c35824">转录组</button></a>
				</div>
				<div class="htmlpage-cell" id="ihdcth">
					<div id="ihnbm7" class="c34914">
						<p>蛋白组数据库</p>
						<p>肾脏相关蛋白数据，关联组织信息、调控基因、疾病性状、发表文献等，配套蛋白结构图.</p>
					</div>
					<a href={{ url_for('protein_home') }}><button type="button" class="c35824">蛋白组</button></a>
				</div>
			</div>
		</div><!-- /.row -->
		<div class="row mb-12">
			<div class="col-lg-10 mx-auto"></div><!--/column -->
		</div><!--/.row --><!-- /.row -->
	</div>
</section> <!-- /.wrapper -->
{% endblock %}